@keyframes moveVan{
    0%{margin-left: 0%;}
    50%{margin-left: 100%;}
    0%{margin-left: 0%;}
}

.hippiebus{
    display: none;
    animation-name: moveVan;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

body{
    background-color: darkorange;
}

h1{
    color: darkorange;
}

#getal1, #getal2{
    color:saddlebrown;
}

.page-header{
    background-image: url("pattern.png");
    text-align: center;
}